body, html {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color:  #333;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
/*    font-family: Apercu, "Source Sans Pro", Helvetica, Arial, sans-serif;*/
    line-height: 1.5;
    height: 100%;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: right;
    width: 100%;
    background-color: #fff;
    padding-top: 1%;
    line-height: 60px;
    font-size: 15px;
    z-index: 1000;
    padding-right: 5%;
    margin-right: 50px;
    border-bottom-width:1px;
    border-bottom-color: #eae5e5;
    border-bottom-style: solid;
    opacity: 0;
}

.header .name {
    text-align: left;
    padding-left: 5%;
    float: left;
    font-size: 20px;
}

.header .name a {
    color: black;
    text-decoration: none;
    padding: 15px;
}

.header .name a:hover {
    color: black;
    border-bottom: none;
}


.header ul li {
    list-style: none;
    display: inline;
    z-index: 10;
}

.header a {
    color: black;
    text-decoration: none;
    padding: 15px;
}

.header a:hover {
/*    color: #f04;*/
    padding-bottom: 28px;
    border-bottom: 5px solid #e01258;
}

p.lead {
    text-align: center;
    color: #727878;
}

.macbook {
	background: url(unsplash1.jpg);

	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    
    /* Create the parallax effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
/*    background-size: cover;*/
	
	margin-bottom: 0px;
	padding: 0px;
}

.macbook .overlay { 
    background-color: #100f0f; 
    position: absolute; 
    top: 0px; 
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
    opacity: 0.85; 
    filter:alpha(opacity=85); 
    z-index: 2; 
}

.background1 {
    background: #eee;
}

.macbook .container { 
    position: relative; 
    top: 15%; 
    z-index: 4; 
    text-align: center; 
}

.macbook .container > * { 
    text-align: center; 
    color: #fff; 
}

.macbook .container h1 { 
    padding-bottom: 20px; 
    border-bottom: 1px solid #fff; 
    border-bottom-color: #e01258; 
    display: inline-block; 
}

.macbook .container .lead { 
    font-size: 28px; 
}

img {
    border-radius: 50%;
}

.macbook .nav-wrapper {
    position: relative;
    top: 2%;
    left: 0;
    font-family: 'Open Sans', sans-serif ;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: right;
    padding-right: 5%;
/*    padding-top: 1%;*/
    margin-right: 50px;
    width: 100%;
    line-height: 80px;
    font-size: 15px;
    z-index: 100;
/*    background-color: #fff;*/
/*
    opacity: 0; 
    filter:alpha(opacity=0); 
*/
}

.macbook .nav-wrapper .name {
    text-align: left;
    padding-left: 5%;
    float: left;
    font-size: 20px;
}

.macbook .nav-wrapper .name .firstname {
    color: white;
}

.macbook .nav-wrapper .name .lastname {
    color: #e01258;
}
.macbook .nav-wrapper .name a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.macbook .nav-wrapper .name a:hover {
    color: white;
    border-bottom: none;
}


.macbook .nav-wrapper ul li {
    list-style: none;
    display: inline;
    z-index: 10;
}

.macbook .nav-wrapper a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.macbook .nav-wrapper a:hover {
    color: #e01258;
    padding-bottom: 30px;
    border-bottom: 5px solid #e01258;
}

.section {
  display: block;
}

.section-content {
    padding: 100px 100px;
    display: block;
    overflow: auto;
}

.section-content .content > div {
    padding-left: 20px;
}

.white-bg > .section-content {
    background-color: white;
}

.dark-bg > .section-content{
  /* background-color: #3295be; */
    background: #ddd;
/*
  background: rgba(80,80,80,1);
  background: -moz-linear-gradient(top, rgba(80,80,80,1) 0%, rgba(109,107,107,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(80,80,80,1)), color-stop(100%, rgba(109,107,107,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,1) 0%, rgba(109,107,107,1) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,1) 0%, rgba(109,107,107,1) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,1) 0%, rgba(109,107,107,1) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,1) 0%, rgba(109,107,107,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505050', endColorstr='#6d6b6b', GradientType=0 );
*/
}


.content p {
    margin: 0;
    font-size: 18px;
    color: white;
    line-height: 30px;
    letter-spacing: 1px;
}

.title > h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 2px;
}

.white-bg .title h1 {
    color: #e01258;
}

.dark-bg .title h1 {
    color: #333;
}

.white-bg p, .white-bg h2 {
    color: black;
}

.title h1:after {
    content: ' ';
    display: block;
    width: 50px;
    margin: 10px 0;
        
}

.dark-bg .title > h1:after {
    border: 2px solid #333;
}

.white-bg .title > h1:after {
    border: 2px solid #e01258;
}

.title {
    float: left;
    width: 20%;
}

.content {
    float: left;
    width: 80%;
}

.dark-bg h4 {
    color: white;
    text-transform: none;
}

.dark-bg p {
    color: #deeef5;
}

.section-tagline {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3em;
    font-weight: 700;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #CEC8C8;
    font-size: 11px;
    text-transform: uppercase;
    color: #333;
}

.resume-section {
    float: left;
    width: 80%;    
    color: #333;
    font-weight: 700;
}

p.resume-content{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #333;
}

.right {
    float: right;
}

img.icon {
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius:50%;
  float: left;
  display: block;
  margin-left: -95px;
  margin-top: 5px;
  background-color: #fff;
  opacity: 0.8;
  z-index: 0;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);   /*For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
  -webkit-transition: all .4s ease;
}

img.icon:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
}