#ground {
  background-image: url(lightpaperfibers.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

/*
#javascriptcode {
	background-image: url(seamless_paper_texture.png);
	background-repeat: repeat;
}*/
