body, html {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #444452;
    font-family: Apercu, "Source Sans Pro", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    height: 100%;
    
}

.k{
    width: 100%;
    height: 100%;
    background: url(macbook-image.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.macbook {
	background: url(pexels.jpeg);

	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
/*
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale');
*/
	
	margin-bottom: 0px;
	padding: 0px;
}

.macbook .overlay { background-color: #000000; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; opacity: 0.60; filter:alpha(opacity=60); z-index: 2; }

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,255,.7);
}

a {
  text-decoration: none;
  color: #333;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Avenir-Light', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: #ddd;
  line-height: 100px;
  font-size: 20px;
  z-index: 1000;
}

#illustration img {
  padding-top: 150px;
  width: 50%;
  min-width:800px;
}

#illustration p {
  font-family: "Courier New";
  letter-spacing: 0.1em;
  color: #fafafa;
  padding-top: 60px;
  font-weight: 100;
  font-size: 14px;
}


#resume {
  background-color: #ddd;
  height: auto;
  margin-top: -30px;
  padding-top: 60px;
/*  //font-family: 'Karla';*/
  font-size: 19px;
  line-height: 34px;
  -webkit-font-smoothing: antialiased;
}