body, html {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color:  #e01258;
/*    font-family: Apercu, "Source Sans Pro", Helvetica, Arial, sans-serif;*/
    line-height: 1.5;
    height: 100%;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: right;
    width: 100%;
    background-color: #fff;
    padding-top: 1%;
    line-height: 60px;
    font-size: 15px;
    z-index: 1000;
    padding-right: 5%;
    margin-right: 50px;
    border-bottom-width:1px;
    border-bottom-color: #eae5e5;
    border-bottom-style: solid;
    opacity: 0;
}

.header .name {
    text-align: left;
    padding-left: 5%;
    float: left;
    font-size: 20px;
}

.header .name a {
    color: black;
    text-decoration: none;
    padding: 15px;
}

.header .name a:hover {
    color: black;
    border-bottom: none;
}


.header ul li {
    list-style: none;
    display: inline;
    z-index: 10;
}

.header a {
    color: black;
    text-decoration: none;
    padding: 15px;
}

.header a:hover {
/*    color: #f04;*/
    padding-bottom: 28px;
    border-bottom: 5px solid #e01258;
}

p.lead {
    text-align: center;
    color: #727878;
}

.macbook {
	background: url(unsplash1.jpg);

	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    
    /* Create the parallax effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
/*    background-size: cover;*/
	
	margin-bottom: 0px;
	padding: 0px;
}

.macbook .overlay { 
    background-color: #100f0f; 
    position: absolute; 
    top: 0px; 
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
    opacity: 0.85; 
    filter:alpha(opacity=85); 
    z-index: 2; 
}

.background1 {
    background: #eee;
}

.macbook .container { 
    position: relative; 
    top: 15%; 
    z-index: 4; 
    text-align: center; 
}

.macbook .container > * { 
    text-align: center; 
    color: #fff; 
}

.macbook .container h1 { 
    padding-bottom: 20px; 
    border-bottom: 1px solid #fff; 
    border-bottom-color: #e01258; 
    display: inline-block; 
}

.macbook .container .lead { 
    font-size: 28px; 
}

img {
    border-radius: 50%;
}
#profile .row > div { margin-bottom: 20px; }

a {
    text-decoration: none;
/*    color: #f04;*/
    color: #333;
}

#illustration img {
  padding-top: 150px;
  width: 50%;
  min-width:800px;
}

#illustration p {
  font-family: "Courier New";
  letter-spacing: 0.1em;
  color: #fafafa;
  padding-top: 60px;
  font-weight: 100;
  font-size: 14px;
}


#resume {
  background-color: #ddd;
  height: auto;
  margin-top: -30px;
  padding-top: 60px;
/*  //font-family: 'Karla';*/
  font-size: 19px;
  line-height: 34px;
  -webkit-font-smoothing: antialiased;
}

.macbook .nav-wrapper {
    position: relative;
    top: 2%;
    left: 0;
    font-family: 'Open Sans', sans-serif ;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: right;
    padding-right: 5%;
/*    padding-top: 1%;*/
    margin-right: 50px;
    width: 100%;
    line-height: 80px;
    font-size: 15px;
    z-index: 100;
/*    background-color: #fff;*/
/*
    opacity: 0; 
    filter:alpha(opacity=0); 
*/
}

.fixed {
    position: fixed;
    top: 0;
}

.macbook .nav-wrapper .name {
    text-align: left;
    padding-left: 5%;
    float: left;
    font-size: 20px;
}

.macbook .nav-wrapper .name .firstname {
    color: white;
}

.macbook .nav-wrapper .name .lastname {
    color: #e01258;
}
.macbook .nav-wrapper .name a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.macbook .nav-wrapper .name a:hover {
    color: white;
    border-bottom: none;
}


.macbook .nav-wrapper ul li {
    list-style: none;
    display: inline;
    z-index: 10;
}

.macbook .nav-wrapper a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.macbook .nav-wrapper a:hover {
    color: #e01258;
    padding-bottom: 30px;
    border-bottom: 5px solid #e01258;
}