body, html {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color:  #f04;
/*    font-family: Apercu, "Source Sans Pro", Helvetica, Arial, sans-serif;*/
    line-height: 1.5;
    height: 100%;
    
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Avenir-Light', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: #ddd;
  line-height: 100px;
  font-size: 20px;
  z-index: 1000;
}

p.lead {
    text-align: center;
    color: #727878;
}

.macbook {
	background: url(unsplash.jpg);

	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    
    filter: blur(5px);
    -webkit-filter: blur(5px);
    
    /* Create the parallax effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
/*    background-size: cover;*/
	
	margin-bottom: 0px;
	padding: 0px;
}

.macbook .overlay { background-color: #000000; 
    position: absolute; 
    top: 0px; 
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
    opacity: 0.90; 
    filter:alpha(opacity=90); 
    z-index: 2; 
}

.macbook .overlay .resume-image {
    width: auto;
    margin: 0 auto;        
}
.background-white {
    background: #fff;
}

.macbook .container { 
    position: relative; 
    top: 28%; 
    z-index: 4; 
    text-align: center; 
}

.macbook .container > * { 
    text-align: center; 
    color: #fff; 
}

.macbook .container h1 { 
    padding-bottom: 20px; 
    border-bottom: 1px solid #fff; 
    border-bottom-color: #f04; 
    display: inline-block; 
}

.macbook .container .lead { 
    font-size: 28px; 
}

img {
    border-radius: 50%;
}
#profile .row > div { margin-bottom: 20px; }

a {
    text-decoration: none;
/*    color: #f04;*/
    color: #333;
}

#illustration img {
  padding-top: 150px;
  width: 50%;
  min-width:800px;
}

#illustration p {
  font-family: "Courier New";
  letter-spacing: 0.1em;
  color: #fafafa;
  padding-top: 60px;
  font-weight: 100;
  font-size: 14px;
}


#resume {
  background-color: #ddd;
  height: auto;
  margin-top: -30px;
  padding-top: 60px;
/*  //font-family: 'Karla';*/
  font-size: 19px;
  line-height: 34px;
  -webkit-font-smoothing: antialiased;
}

