body, html {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color:  #333;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
/*    font-family: Apercu, "Source Sans Pro", Helvetica, Arial, sans-serif;*/
    line-height: 1.5;
    height: 100%;
    
}

.macbook {
	background: url(unsplash1.jpg);

	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    
    /* Create the parallax effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	margin-bottom: 0px;
	padding: 0px;
}

.macbook .overlay { 
    background-color: #100f0f; 
    position: absolute; 
    top: 0px; 
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
    opacity: 0.85; 
    filter:alpha(opacity=85); 
    z-index: 2; 
}

.macbook .container { 
    position: relative; 
    top: 15%; 
    z-index: 4; 
    text-align: center; 
}

.macbook .container > * { 
    text-align: center; 
    color: #fff; 
}

.macbook .container h1 { 
    padding-bottom: 20px; 
    border-bottom: 1px solid #fff; 
    border-bottom-color: #e01258; 
    display: inline-block; 
}

.macbook .container .lead { 
    font-size: 28px; 
}

img {
    border-radius: 50%;
}

.macbook .nav-wrapper {
    position: relative;
    top: 2%;
    left: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: right;
    padding-right: 5%;
    margin-right: 50px;
    width: 100%;
    line-height: 80px;
    font-size: 15px;
    z-index: 100;
}

.macbook .nav-wrapper .name {
    text-align: left;
    padding-left: 5%;
    float: left;
    font-size: 20px;
}

.macbook .nav-wrapper .name .firstname {
    color: white;
}

.macbook .nav-wrapper .name .lastname {
    color: #e01258;
}
.macbook .nav-wrapper .name a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.macbook .nav-wrapper .name a:hover {
    color: white;
    border-bottom: none;
}


.macbook .nav-wrapper ul li {
    list-style: none;
    display: inline;
    z-index: 10;
}

.macbook .nav-wrapper a {
    color: white;
    text-decoration: none;
    padding: 30px;
}

.macbook .nav-wrapper a:hover {
    color: #e01258;
    padding-bottom: 30px;
    border-bottom: 5px solid #e01258;
}


.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: right;
    width: 100%;
    background-color: #fff;
    padding-top: 1%;
    line-height: 60px;
    font-size: 15px;
    z-index: -2;
    padding-right: 5%;
    margin-right: 50px;
    border-bottom-width:1px;
    border-bottom-color: #eae5e5;
    border-bottom-style: solid;
/*    opacity: 0;*/
}

.fixed-header .name {
    text-align: left;
    padding-left: 5%;
    float: left;
    font-size: 20px;
}

.fixed-header .name a {
    color: black;
    text-decoration: none;
    padding: 15px;
}

.fixed-header .name a:hover {
    color: black;
    border-bottom: none;
}


.fixed-header ul li {
    list-style: none;
    display: inline;
    z-index: 10;
}

.fixed-header a {
    color: black;
    text-decoration: none;
    padding: 28px;
}

.fixed-header a:hover {
    padding-bottom: 28px;
    border-bottom: 5px solid #e01258;
}

.active {
    padding-bottom: 28px;
    border-bottom: 5px solid #e01258;
}

.section {
  display: block;
}

.section-content {
    padding: 100px 100px;
    display: block;
    overflow: auto;
}

.white-bg > .section-content {
    background-color: white;
}

.dark-bg > .section-content{
    background: #ddd;
}

.light-bg > .section-content {
    background-color: #eee;
}

.black-bg > .section-content {
    background-color: #222;
}

.content p {
    margin: 0;
    font-size: 18px;
    color: white;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 5%;
    text-align: justify;
}

.title > h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 2px;
}

.white-bg .title h1 {
    color: #e01258;
}

.dark-bg .title h1 {
    color: #333;
}

.light-bg .title h1 {
    color: #e01258;
}

.black-bg .title h1 {
    color: white;
}

.white-bg p, .white-bg h2 {
    color: black;
}

.title h1:after {
    content: ' ';
    display: block;
    width: 50px;
    margin: 10px 0;
        
}

.dark-bg .title > h1:after {
    border: 2px solid #333;
}

.light-bg .title > h1:after {
    border: 2px solid #e01258;
}

.white-bg .title > h1:after {
    border: 2px solid #e01258;
}

.black-bg .title > h1:after {
    border: 2px solid white;
}

.title {
    float: left;
    width: 20%;
}

.content {
    float: left;
    width: 80%;
}

.dark-bg h4 {
    color: white;
    text-transform: none;
}

.section-tagline {
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 700;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #CEC8C8;
    width: 95%;
    font-size: 15px;
    text-transform: uppercase;
    color: #333;
    text-align: left;
}

.resume-section {
    float: left;
    width: 80%;    
    color: #333;
    font-weight: 700;
}

p.resume-content{
    text-align: left;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #333;
}

.project-section {
    float: left;
    width: 80%;    
    color: #333;
    font-weight: 600;
}

.contact-section {
    float: left;
    width: 80%;
    color: white;
    padding-right: 15%;
}

p.project-content {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

.right {
    float: right;
    padding-right: 5%;
    font-size: 15px;
    font-weight: 500; 
    -webkit-font-smoothing: antialiased;
}

.course {
    font-size: 18px; 
    font-weight: 600; 
    -webkit-font-smoothing: antialiased;
}

.description {
    font-size: 15px;
    font-weight: 500; 
    -webkit-font-smoothing: antialiased;
    padding-right: 10%;
    color: #333;
    text-align: justify;
}

img.icon {
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius:50%;
  float: left;
  display: block;
  margin-left: -95px;
  margin-top: 5px;
  background-color: #fff;
  opacity: 0.8;
  z-index: 0;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);   /*For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
  -webkit-transition: all .4s ease;
}

img.icon:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
}

.skill {
    border: 1px solid #e01258;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 500;
    width: auto;
    display: inline-block;
    font-size: 11px;
    line-height: 1.33333em;
    padding: 7px 18px;
    margin-top: 0.8em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius; 8px;
    border-radius: 8px;
}

.block-btn {
    display: block;
    width: 100%;
    min-height: 100px;
    color: #f2f2f2;
    position: relative;
    background: #e01258;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    overflow: hidden;
}

a.block-btn {
    text-decoration: none;
    padding: 45px;
}

a.block-btn:hover, a.block-btn:visited {
    color: #f2f2f2;
}

.block-btn .text {
    font-size: 1em;
    transition: transform .4s;
    transform: scale(1.5);
}

footer ul li {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0 auto;
    padding-right: 3%;
    text-align: center;
    display: inline-block;
}

/*
footer ul li {
    margin: 1rem .5rem;
}
*/

footer ul li a {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
}

footer ul li a.icon {
    color: white;
    fill: white;
}

.copyright-wrapper {
    margin-top: 100px;
    font-size: 15px;
    color: #f2f2f2;
    font-weight: 500;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*
@media only screen and (max-width: 767px) {
	.title, .content {
	  width: 100%;
	}

  .section-content .content > div {
    padding-left: 0;
  }

  .section-content {
    padding: 60px 30px;
  }

  .title img {
    margin-bottom: 20px;
  }

  .w3-progress-container {
    width: 100%;
  }

  .footer {
    text-align: center;
  }

  .main-section h1 {
    font-size: 40px;
  }

  .main-section {
    height: 670px;
  }

  .main-section > .section-content {
    padding: 10px 30px;
  }

  .dual-col img {
    width: 100%;
  }

  .nav {
    left: 30px;
  }


  .dual-col.img-col:nth-child(7) {
    margin-bottom: 60px;
  }
}*/

@media only screen and (max-width: 480px) {
    
    .macbook .nav-wrapper {
        margin-right: 5px;
        line-height: 40px;
        font-size: 8px;
    }

    .macbook .nav-wrapper .name {
        padding-left: 2%;
        font-size: 8px;
    }

    .macbook .nav-wrapper .name a {
        padding: 5px;
    }

    .macbook .nav-wrapper a {
        padding: 5px;
    }

    .macbook .nav-wrapper a:hover {
        padding-bottom: 10px;
        border-bottom: 3px solid #e01258;
    }
    
    
    .fixed-header {
        line-height: 25px;
        font-size: 8px;
        margin-right: 5px;
    }

    .fixed-header .name {
        padding-left: 2%;
        font-size: 8px;
    }

    .fixed-header .name a {
        padding: 5px;
    }

    .fixed-header a {
        padding: 3px;
    }

    .fixed-header a:hover {
        padding-bottom: 16px;
        border-bottom: 3px solid #e01258;
    }

    .active {
        padding-bottom: 16px;
        border-bottom: 3px solid #e01258;
    }

}